@model TextDetailsViewModel
@{
    ViewData["Title"] = "Text details page";
}

<div class="text-details">
    <span>
        Text details value:
    </span>
    <span>
        @Model.Value
    </span>
</div>